<div class="home">
  <h1>Welcome to PokeDex Application</h1>
  <p class="subtitle">Choose a region!</p>

  <div class="region-cards">
    <a routerLink="/kanto" class="card kanto">
      <h2>Kanto</h2>
      <p>The very first region starting at Generation I </p>
    </a>

    <a routerLink="/johto" class="card johto">
      <h2>Johto</h2>
      <p>The Second Region continuing into Generation II.</p>
    </a>

    <a routerLink="/hoenn" class="card hoenn">
      <h2>Hoenn</h2>
      <p>The Third Region continuting into Generation III </p>
    </a>

    <a routerLink="/pokemart" class="card mart">
      <h2>PokéMart</h2>
      <p>Stock up on essential items for your Pokémon journey. From Poké Balls to Potions, we have everything you need!</p>
    </a>
  </div>
</div>